@font-face {
  font-family: "customFont";
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-family: "customFont", Arial, Helvetica, sans-serif;
  color: #fff;
}

p {
  font-size: 15px;
}

.container {
  background-color: var(--off-black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: var(--dark-grey);
  max-width: 350px;
  border-radius: 10px;
  padding: 1rem 2rem;
}

@media (min-width: 900px) {
  .profile-card {
    width: 300px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img {
  border-radius: 50%;
  max-width: 90px;
  object-fit: cover;
  margin: 1rem 0;
}

.header h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2px;
}

.header h2 {
  color: var(--green);
  font-size: 1rem;
  font-weight: 400;
}

.profile-card p {
  margin: 1rem 0;
  text-align: center;
  font-size: 12px;
}

.social-nav .social {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem 0;
}

.social-nav .social a {
  display: block;
  background-color: var(--grey);
  text-align: center;
  border-radius: 4px;
  padding: 0.7rem 0rem;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.social-nav .social a:hover {
  color: #000;
  background-color: var(--green);
}
